@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$site-primary: #96a9a4;
$site-light: #d9d9d9;
$site-dark: #555555;
$site-black: #1e1e1e;
$site-strong: #52796F;

body {
    font-family: 'Work Sans', sans-serif !important;
    background-color: $site-black !important;
    color: $site-light !important;
    overflow-x: hidden;
}

header
{
    margin: 5rem 5rem 0rem 5rem;
}

main {
    margin: 3rem 5rem 5rem 5rem;
}

header.releases-header {

    & h1 {
        font-size: 2.5rem;
    }

    & h3 {
        font-size: 1rem;

        & span {
            font-style: italic;
            font-weight: 400;
        }
    }

}

h2 {
    margin-bottom: 2rem;
}

strong {
    font-weight: 600;
    color: $site-strong;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}