@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Work Sans", sans-serif !important;
  background-color: #1e1e1e !important;
  color: #d9d9d9 !important;
  overflow-x: hidden;
  /*user-select: none;*/
}

body.releases {
  background-color: #d9d9d9 !important;
  color: #555555 !important;
}
body.releases footer {
  position: absolute;
  bottom: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 20px;
  height: 150px;
}

body::-webkit-scrollbar-track {
  background: #c3c3c3;
  border-radius: 20px;
}

h1,
h2 {
  color: #d9d9d9 !important;
  text-align: center;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  margin: 0 1em;
  justify-content: center;
}

p a {
  color: #52796F !important;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
  cursor: pointer !important;
}
p a:hover {
  color: #96a9a4 !important;
}

strong {
  color: #52796F !important;
  font-weight: 600;
}

footer {
  background-color: #1e1e1e !important;
  color: #d9d9d9 !important;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

header#home {
  height: 100vh;
  background-image: url("/img/hero_index.jpg");
  background-position: center center;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header#home h1,
header#home h2 {
  text-shadow: 0px 4px 4px #1e1e1e;
  animation: fade-in 1s ease-in-out;
}

header#home a {
  margin-top: 1.6rem;
  color: #d9d9d9 !important;
  background-color: #52796F !important;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  animation: fade-in 2s ease-in-out;
}
header#home a:hover {
  color: #ffffff;
  transform: scale(1.1);
}
header#home a:active {
  transform: scale(1.05);
}

header#releases {
  padding: 3rem;
  margin-top: 3.5rem;
}
header#releases h1 {
  color: #1e1e1e !important;
}

main:not(#releases),
section {
  background-color: #1e1e1e;
  padding: 25rem 0 25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main#releases {
  padding: 0 5rem 5rem 5rem;
  color: #1e1e1e;
}
main#releases h3 {
  margin: 0 0 2rem 0;
}
main#releases ul {
  color: #555555;
}
main#releases a {
  color: #52796F;
  text-decoration: underline;
}

.home-spacing {
  height: 15rem;
}

main#discover {
  padding: 10rem 0 25rem 0 !important;
}

section#about {
  background: url("/img/bg-ondas.svg") no-repeat;
  background-size: cover;
  padding: 0;
  height: 100vh;
  width: 100%;
}

section#beta {
  background-color: #d9d9d9;
  color: #1e1e1e;
  padding: 0 !important;
}
section#beta .button-down {
  background-color: #1e1e1e;
  z-index: 1;
}
section#beta .button-down:hover {
  background-color: #161616;
}

section#discord {
  background: url("/img/bg-peaks.svg") no-repeat #555555;
  background-position: center;
  background-size: cover;
}

#wave-up {
  background: url("/img/bg-wave-top.svg") no-repeat #1e1e1e;
  background-position-y: top;
  background-size: cover;
  width: 100%;
  height: 40vh;
  position: relative;
  top: -1px;
}

#wave-down {
  background: url("/img/bg-wave-bottom.svg") no-repeat #1e1e1e;
  background-position-y: bottom;
  background-size: cover;
  width: 100%;
  height: 40vh;
  position: relative;
  bottom: -1px;
  z-index: 0;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.prevent-select {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.donate-button,
.discord-button,
.beta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 52px;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  background: #555;
  transition: all 0.1s ease-in-out;
  margin-top: 1.3rem;
}
.donate-button:hover,
.discord-button:hover,
.beta-button:hover {
  background: #333;
  transform: scale(1.05);
}
.donate-button:active,
.discord-button:active,
.beta-button:active {
  transform: scale(1.01);
}

.button-down {
  position: relative;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: #d9d9d9;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  top: 30px;
}
.button-down:hover {
  background-color: #b4b2b2;
  transform: scale(1.1);
}
.button-down:active {
  transform: scale(1.05);
}

.button-down img {
  animation: arrow 1s ease infinite;
}

#carousel {
  margin-top: 2.5rem;
  width: 50rem;
}

img.img {
  max-width: 50rem;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.grid-structure {
  margin: 1rem 6rem;
  z-index: 2;
}
.grid-structure h4 {
  text-align: center;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}
.grid-structure p {
  font-size: 1.2rem;
}
.grid-structure .row div {
  padding: 1rem 3.5rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 840px) {
  .row div {
    padding: 1rem 0.7rem !important;
  }
  .carousel-item {
    text-align: center;
  }
  .carousel-item img {
    height: 386px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.2rem !important;
  }
  p {
    font-size: 1rem !important;
  }
  header#home a {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .donate-button,
  .discord-button,
  .beta-button {
    font-size: 0.9rem;
  }
  .donate-button img,
  .discord-button img,
  .beta-button img {
    width: 25px;
  }
  .button-down {
    height: 50px;
    width: 50px;
  }
  .button-down img {
    width: 25px;
  }
  .grid-structure {
    margin: 1rem 6rem 0rem 6rem;
  }
  .row div {
    padding: 2rem 0.7rem 0rem 0.7rem !important;
  }
  footer * {
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 720px) {
  #carousel {
    width: 40rem !important;
  }
  .carousel-item img {
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1rem !important;
  }
  p {
    font-size: 0.9rem !important;
  }
  #carousel {
    width: 35rem !important;
  }
  .carousel-item img {
    height: 250px;
  }
  .row div {
    padding: 0.5rem 1rem !important;
  }
  .row div h4 {
    margin-bottom: 1.2rem;
  }
  footer * {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 530px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 0.7rem !important;
  }
  header#home a {
    font-size: 0.7rem;
    margin-top: 0.8rem;
    padding: 0.8rem 1.2rem;
  }
  #carousel {
    width: 20rem !important;
    margin-top: 1rem;
  }
  .carousel-item img {
    height: 200px;
  }
  .grid-structure {
    margin: 0.7rem 2rem 0rem 2rem;
  }
  .grid-structure h4 {
    margin-bottom: 0.8rem;
    font-size: 0.8rem !important;
  }
  .button-down {
    width: 40px;
    height: 40px;
  }
  .button-down img {
    width: 20px;
  }
  footer * {
    font-size: 0.6rem !important;
  }
  section {
    padding: 20rem 0 20rem 0;
  }
  section#about {
    padding: 10rem 0;
  }
}
@media screen and (max-width: 300px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 0.8rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.4rem !important;
    margin-bottom: 0.4rem;
  }
  p {
    font-size: 0.4rem !important;
  }
  header#home a {
    font-size: 0.6rem;
    margin-top: 0.5rem;
    padding: 0.6rem 0.8rem;
  }
  #carousel {
    width: 15rem !important;
    margin-top: 0.5rem;
  }
  .carousel-item img {
    height: 150px;
  }
  .donate-button,
  .discord-button,
  .beta-button {
    font-size: 0.4rem;
    padding: 0.4rem 0.8rem;
    margin-top: 0rem;
  }
  .donate-button img,
  .discord-button img,
  .beta-button img {
    width: 15px;
  }
  .grid-structure h4 {
    margin-bottom: 0.4rem;
    font-size: 0.5rem !important;
  }
}
/* ANIMATIONS */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=site.css.map */