---
var { classes } = Astro.props;
var navClasses = classes + " navbar navbar-expand-lg navbar-dark bg-dark";

const pages = ["Home", "Release Notes"];
const links = ["/", "/releases"];
---

<nav class={navClasses}>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {
                pages.map((page, index) => (
                    <li class="nav-item">
                        <a class="nav-link" href={links[index]}>
                            {page}
                        </a>
                    </li>
                ))
            }

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/img/iconLanguage.svg" alt="Icono de cambio de idioma" width="20" draggable="false" />
                    <span id="langField"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a role="button" class="dropdown-item en-selector" onclick="switchLanguage(this);">EN</a>
                    <a role="button" class="dropdown-item es-selector" onclick="switchLanguage(this);">ES</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const langField = document.querySelector("#langField");
        var lang = getLanguage();

        if (langField)
            langField.innerHTML = lang.toUpperCase();

        const selectorEN = document.querySelector(".en-selector");
        const selectorES = document.querySelector(".es-selector");

        if(!selectorEN || !selectorES)
            return;

        selectorEN.addEventListener("click", function() {
            switchLanguage(selectorEN.innerHTML);
        });

        selectorES.addEventListener("click", function() {
            switchLanguage(selectorES.innerHTML);
        });
    });

    function switchLanguage(selected: string) {

        const langField = document.querySelector("#langField");
        var current = getLanguage();

        if (selected.toLowerCase() == current.toLowerCase() || !langField)
            return;

        setLanguage(selected.toLowerCase());
        langField.innerHTML = selected.toUpperCase();
    }
</script>
